p {
  font-family: Inconsolata;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: left;
  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;
}

img{
  position: absolute;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
  height: 447.4263916015625px;
  width: 539.2236938476562px;
  border-radius: 0px;

}

